* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map {
  height: 100vh;
  width: 100vw;
}

header nav {
  display: flex;
}

.nav-item {
  height: 1.5em;
  margin: 0 1.5em 0 0;
}

.nav-item a {
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  transition: color 1s, background-color 0.5;


}
.nav-item a:hover {
  color: #202b47;
  background-color: #fff;
  box-shadow: #d3d3d3;
  transition: all 1s;
}
.flex {
  display: flex;
  flex-flow: column wrap;
    align-items: center;
    padding: 0 15px;
}


